
.line-through {
    text-decoration: line-through;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center, center;
    background-size: cover;
}

body.dark::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

body.light::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: white;
}

#date,
#weather,
#quote {
    position: absolute;
    border-radius: 5px;
    padding: 0.5rem;
}

#date.dark,
#weather.dark,
#quote.dark {
    color: white;
}

#date.light,
#weather.light,
#quote.light {
    color: rgb(52, 52, 52);
}

#todo,
#settings {
    position: absolute;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
}

#weather {
    top: 2%;
    right: 2%;
}

#quote {
    bottom: 2%;
    width: 50%;
    left: 25%;
}

#todo {
    bottom: 2%;
    right: 2%;
    background-color: rgba(54, 54, 54, 0.9);
    padding: 1rem;
}

#settings{
    bottom: 2%;
    left: 2%;
    background-color: rgba(54, 54, 54, 0.9);
    padding: 1rem;
}

.time {
    font-size: 7rem;
    display: block;
    text-align: center;
}

.greeting {
    font-size: 2.5rem;
    display: block;
    text-align: center;
}

.weather-temp {
    font-size: 2.5rem;
}

.weather-loc {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.quote-text {
    font-size: 1rem;
}

.todos-counter {
    color: rgba(255, 255, 255, 0.5)
}

.form-group.todo {
    min-width: 11rem;
    display: flex;
    justify-content: space-between;
}
